* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0c0059;
  height: 100vh;
  width: 100%;
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo path:nth-child(1) {
  stroke-dasharray: 1322;
  stroke-dashoffset: 1322;
  animation: line-anim 8s ease forwards;
}
#logo path:nth-child(2) {
  stroke-dasharray: 2379;
  stroke-dashoffset: 2379;
  animation: line-anim 8s ease forwards 0.3s;
}
#logo path:nth-child(3) {
  stroke-dasharray: 1214;
  stroke-dashoffset: 1214;
  animation: line-anim 8s ease forwards 0.6s;
}
#logo path:nth-child(4) {
  stroke-dasharray: 1322;
  stroke-dashoffset: 1322;
  animation: line-anim 8s ease forwards;
}
#logo path:nth-child(5) {
  stroke-dasharray: 1322;
  stroke-dashoffset: 1322;
  animation: line-anim 8s ease forwards 1.3s;
}
#logo path:nth-child(6) {
  stroke-dasharray: 2379;
  stroke-dashoffset: 2379;
  animation: line-anim 8s ease forwards 1.5s;
}
#logo path:nth-child(7) {
  stroke-dasharray: 1214;
  stroke-dashoffset: 1214;
  animation: line-anim 8s ease forwards 1.8s;
}
#logo path:nth-child(8) {
  stroke-dasharray: 1322;
  stroke-dashoffset: 1322;
  animation: line-anim 8s ease forwards;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  to {
    fill: white;
  }
}
